body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #928dab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.JokeBox {
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

button {
  padding: 10px 20px;
  border: none;
  background: #1f1c2c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #3a345d;
}
